<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="/public/assets/static/css/output.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/public/assets/favicon.ico">
    <title>Análise - Armazenda</title>
    <script nonce="{{ .CSPNonce }}" src="/public/assets/static/htmx.min.js.gz" defer></script>
    <script nonce="{{ .CSPNonce }}" type="module" src="/public/assets/js/toast.js"></script>
    <script nonce="{{ .CSPNonce }}" type="module" src="/public/assets/js/weight.js"></script>
    <script nonce="{{ .CSPNonce }}" type="module" src="/public/assets/js/stats.js"></script>
    <script nonce="{{ .CSPNonce }}" src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js" defer></script>
    <script nonce="{{ .CSPNonce }}" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="main-bg">
    {{ template "navbar" . }}
    {{ template "menu" (dict "page" "analise" "CSPNonce" .CSPNonce "TierKey" .TierKey) }}
    <section class="content-container">
      <header class="text-center mb-4 2xl:mb-8">
        <h1 class="text-xl 2xl:text-3xl font-bold text-white font-[Noto_Sans] drop-shadow-lg">
          Análise
        </h1>
        <p class="text-sm text-white/90 mt-2">
          Gere relatórios detalhados sobre as operações do seu armazém.
        </p>
      </header>
      <div class="glass-panel rounded-xl shadow-center p-4 overflow-y-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <div hx-get="/stats/top-supplier" hx-trigger="load" hx-swap="outerHTML"></div>
          <div hx-get="/stats/top-buyer" hx-trigger="load" hx-swap="outerHTML"></div>
          <div hx-get="/stats/most-frequent-supplier" hx-trigger="load" hx-swap="outerHTML"></div>
          <div hx-get="/analise/most-productive-field" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
      </div>
    </section>
    <script nonce="{{ .CSPNonce }}" type="module">
      import { setupFieldProdChart } from "/public/assets/js/chart.js";

      document.body.addEventListener('htmx:afterSwap', function(evt) {
        const container = evt.detail.elt;
        if (container && container.id === "productive-field-container") {
          const nominalNames = JSON.parse(container.dataset.nominalNames);
          const nominalValues = JSON.parse(container.dataset.nominalValues);
          const relativeNames = JSON.parse(container.dataset.relativeNames);
          const relativeValues = JSON.parse(container.dataset.relativeValues);

          setupFieldProdChart('fieldVolumeProdChart', 'Talhão Maior Volume', nominalNames, nominalValues);
          setupFieldProdChart('fieldSizeRelativeProdChart', 'Talhão Mais Produtivo (Peso Líquido / hectare)', relativeNames, relativeValues);
        }
      });
    </script>
  </body>
</html>
