<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="/public/assets/static/css/output.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/public/assets/favicon.ico">
    <title>Configurações - Armazenda</title>
    <script src="/public/assets/js/htmx.min.js"></script>
    <script type="module" src="/public/assets/js/toast.js"></script>
</head>

<body class="bg-sky-50">
    {{ template "navbar" . }}
    {{ template "menu" "config" }}
    <main class="max-w-screen-xl mx-auto mt-20 pl-12 sm:pl-2 px-2 mb-4">
        <header class="mb-8 text-center">
            <h1 class="text-3xl font-bold text-slate-700">Configurações</h1>
            <p class="text-slate-500">Gerencie as informações da sua fazenda, endereço e contato.</p>
        </header>
        {{ template "config-form" . }}
        <div class="my-8 border-b-2 border-gray-200"></div>
        <div hx-get="/user/pending" hx-trigger="load"></div>
        <div hx-get="/users" hx-trigger="load"></div>
    </main>
    <script type="module">
        import {removeEmptyFields} from "/public/assets/js/form.js";
        import {setupCepListener} from "/public/assets/js/address.js";

        document.body.addEventListener('htmx:configRequest', function (evt) {
            evt.detail.parameters = removeEmptyFields(evt.detail.parameters);
        });

        setupCepListener('cep', 'street', 'neighborhood', 'city', 'state');
    </script>
</body>

</html>
