<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="/public/assets/static/css/output.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/public/assets/favicon.ico">
    <title>Configurações - Armazenda</title>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js" defer></script>
    <script type="module" src="/public/assets/js/toast.js"></script>
  </head>
  <body class="bg-sky-50">
    {{ template "navbar" . }}
    {{ template "menu" "config" }}
    <section class="container mx-auto p-4">
      <h1 class="text-2xl font-bold mb-4">Configurações da Fazenda</h1>
            <form hx-put="/farm/config" hx-target="body" hx-swap="beforeend" class="flex flex-col gap-4">
                {{ with .Farm }}
                <input type="hidden" name="id" value="{{ .Id }}">
                <fieldset class="flex flex-col gap-2 p-2 bg-white rounded-lg shadow">
                    <legend class="text-lg uppercase rounded-t-lg bg-white px-2 font-light">Dados da Fazenda</legend>
                    <div class="flex flex-col-reverse">
                        <input type="text" name="name" id="name" value="{{ if .Name }}{{ .Name }}{{ end }}" class="peer" required>
                        <label for="name" class="label-peer">Nome da Fazenda</label>
                    </div>
                    <div class="flex flex-col-reverse">
                        <input type="text" name="inscricaoEstadual" id="inscricaoEstadual" value="{{ .InscricaoEstadual }}" class="peer" required>
                        <label for="inscricaoEstadual" class="label-peer">Inscrição Estadual</label>
                    </div>
                    <div class="flex flex-col-reverse">
                        <input type="number" step="0.01" name="humidityDiscount" id="humidityDiscount" value="{{ .HumidityDiscount }}" class="peer" required>
                        <label for="humidityDiscount" class="label-peer">Desconto de Umidade (%)</label>
                    </div>
                </fieldset>

                <fieldset class="flex flex-col gap-2 p-2 bg-white rounded-lg shadow">
                    <legend class="text-lg uppercase rounded-t-lg bg-white px-2 font-light">Endereço</legend>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="flex flex-col-reverse">
                            <input type="text" name="street" id="street" value="{{ if .Street }}{{ .Street }}{{ end }}" class="peer">
                            <label for="street" class="label-peer">Rua</label>
                        </div>
                        <div class="flex flex-col-reverse">
                            <input type="text" name="number" id="number" value="{{ if .Number }}{{ .Number }}{{ end }}" class="peer">
                            <label for="number" class="label-peer">Número</label>
                        </div>
                        <div class="flex flex-col-reverse">
                            <input type="text" name="complement" id="complement" value="{{ if .Complement }}{{ .Complement }}{{ end }}" class="peer">
                            <label for="complement" class="label-peer">Complemento</label>
                        </div>
                        <div class="flex flex-col-reverse">
                            <input type="text" name="neighborhood" id="neighborhood" value="{{ if .Neighborhood }}{{ .Neighborhood }}{{ end }}" class="peer">
                            <label for="neighborhood" class="label-peer">Bairro</label>
                        </div>
                        <div class="flex flex-col-reverse">
                            <input type="text" name="city" id="city" value="{{ if .City }}{{ .City }}{{ end }}" class="peer">
                            <label for="city" class="label-peer">Cidade</label>
                        </div>
                        <div class="flex flex-col-reverse">
                            <input type="text" name="state" id="state" value="{{ if .State }}{{ .State }}{{ end }}" class="peer">
                            <label for="state" class="label-peer">Estado</label>
                        </div>
                        <div class="flex flex-col-reverse">
                            <input type="text" name="cep" id="cep" value="{{ if .Cep }}{{ .Cep }}{{ end }}" class="peer">
                            <label for="cep" class="label-peer">CEP</label>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="flex flex-col gap-2 p-2 bg-white rounded-lg shadow">
                    <legend class="text-lg uppercase rounded-t-lg bg-white px-2 font-light">Contato</legend>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="flex flex-col-reverse">
                            <input type="email" name="email" id="email" value="{{ if .Email }}{{ .Email }}{{ end }}" class="peer">
                            <label for="email" class="label-peer">Email</label>
                        </div>
                        <div class="flex flex-col-reverse">
                            <input type="tel" name="phoneNumber" id="phoneNumber" value="{{ if .PhoneNumber }}{{ .PhoneNumber }}{{ end }}" class="peer">
                            <label for="phoneNumber" class="label-peer">Telefone</label>
                        </div>
                    </div>
                </fieldset>
                {{ end }}
                <div class="flex items-center justify-around mt-2 w-52 mx-auto" id="btns-container">
                    <button type="submit" class="add-btn">
                    Salvar
                    </button>
                </div>
            </form>
    </section>
  </body>
</html>
