<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/assets/static/css/output.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/public/assets/favicon.ico">
    <title>Relatório - Armazenda</title>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js" defer></script>
    <script type="module" src="/public/assets/js/toast.js"></script>
    <script type="module" src="/public/assets/js/getEntryPdf.js"></script>
    <script type="module" src="/public/assets/js/getDeparturePdf.js"></script>
  </head>
  <body class="bg-sky-50">
    {{ template "navbar" }}
  {{ template "menu" "relatorio" }}
    <section class="mt-20 px-2 max-w-screen-xl mx-auto">
      {{ template "report-filters" . }}
      <button type="button" hx-trigger="click" hx-post="">Gerar Relatório</button>
      <table class="w-full">
        <thead class="text-xs sm:text-base whitespace-nowrap bg-gray-300/50 hidden md:table-header-group uppercase" id="report-header">
          <tr>
            <th class="py-2">Romaneio</th>
            <th class="py-2">Operação</th>
            <th class="py-2">Pessoa</th>
            <th class="py-2">Produto</th>
            <th class="py-2">Veículo</th>
            <th class="py-2">Peso Líquido</th>
            <th class="py-2">Data Operação</th>
          </tr>
        </thead>
        {{ template "report-content" . }}
      </table>
    </section>
  </body>
</html>
