<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/assets/static/css/output.css" rel="stylesheet">
    <title>Romaneio</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"
        integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js" defer></script>
</head>

<body>
    <nav class="fixed top-0 left-0 w-screen h-10 bg-green-400 text-center leading-10">navegação</nav>
    <section class="mt-20 px-2">
        <header>
            <h1 class="text-center text-xl font-semibold">
                CONTROLE DE ROMANEIO
            </h1>
        </header>
        <div class="flex items-center justify-center w-full py-2">
            <button type="button"
                class="h-8 px-2 text-base rounded-md rounded-r-none text-white bg-green-400 ring-1 ring-green-400"
                hx-trigger="click" hx-get="/entry/list" hx-target="table" hx-swap="outerHTML">
                Entrada
            </button>
            <div class="h-8 w-[2px] bg-green-400">
            </div>
            <button type="button" id="show-departure-manifest"
                class="h-8 px-2 text-base rounded-md rounded-l-none text-green-400 ring-1 ring-green-400"
                hx-trigger="click" hx-get="/departure/list" hx-target="table" hx-swap="outerHTML"
                onclick="handleShowDeparture()">
                Saída
            </button>
        </div>
        <main>
            {{ template "entry-table" . }}
        </main>
        <footer class="w-full flex items-center justify-end">
            <button id="form" type="button" class="add-btn flex items-center" hx-get="/entry/form" hx-target="body"
                hx-swap="beforeend">
                <iconify-icon icon="ic:baseline-add-circle" class="mr-1"></iconify-icon>
                Nova Entrada
            </button>
        </footer>
    </section>
</body>

</html>

<script type="module">
    function handleShowDeparture() {
        const btnEl = document.querySelector('#show-departure-manifest');
        if (btnEl) {
            btnEl.classList.add('bg-green-400', '!text-white')
        }
        const formBtnEl = document.querySelector('button#form');
        if (formBtnEl) {
            formBtnEl.setAttribute('hx-get', '/departure/form')
        }
    }
    window.handleShowDeparture = handleShowDeparture
</script>
