{{ block "entry-list-item" . }}
<tr class="text-sm sm:text-base border-b border-gray-200 hover:bg-gray-50 whitespace-nowrap" id="entry-{{ .Id }}">
  <td class="py-3 px-4 text-left" data-label="Romaneio">
    {{ .Id }}
  </td>
  <td class="py-3 px-4 text-left" data-label="Produto">
    {{ .Product }}
  </td>
  <td class="py-3 px-4 text-left" data-label="Talhão">
    {{ .Field }}
  </td>
  <td class="py-3 px-4 text-left" data-label="Placa">
    {{ .Vehicle }}
  </td>
  <td class="py-3 px-4 text-left" data-label="Peso Líquido">
    {{ .NetWeight }}
  </td>
  <td id="arrivalDate" class="py-3 px-4 text-left" data-label="Data de Recebimento">
    {{ .ArrivalDate }}
  </td>
  <td class="py-3 px-4 text-left" data-label="Ações">
    <div class="flex items-center gap-2">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <button type="button" id="{{ .Id }}" onclick="getEntryPdf(this)" title="PDF de Entrada" class="icon-btn">
        <iconify-icon icon="mdi:file-pdf-box" class="text-xl"></iconify-icon>
      </button>
      <button type="button" hx-get="/entry/form/{{ .Id }}" hx-target="body" hx-swap="beforeend" title="Editar Entrada"
        class="icon-btn">
        <iconify-icon icon="mdi:pencil" class="text-xl"></iconify-icon>
      </button>
      <button type="button" hx-trigger="confirmed" hx-delete="/entry/{{ .Id }}" hx-target="#entry-{{ .Id }}"
        hx-swap="delete" title="Excluir Entrada" class="icon-btn" onClick="Swal.fire({title: 'Excluir', text:'Deseja excluir o romaneio de entrada {{ .Id }} ?', showCancelButton: true, cancelButtonText: 'Cancelar', cancelButtonColor: '#ff7200', reverseButtons: true, confirmButtonText: 'Excluir', confirmButtonColor: '#22c55e'}).then((result)=>{
                    if (result.isConfirmed) {
                        htmx.trigger(this, 'confirmed');
                    }
                })">
        <iconify-icon icon="mdi:trash-can" class="text-xl"></iconify-icon>
      </button>
    </div>
  </td>
  <script type="module">
    import {formatDateToDisplay} from "/public/assets/js/date.js"
    const itemRow = document.querySelector("tr#entry-{{ .Id }}")
    if (itemRow) {
      itemRow.querySelector("td#arrivalDate").textContent = formatDateToDisplay({{ .ArrivalDate}})
        }
  </script>
</tr>
{{ end }}
