{{ block "entry-form" . }}
<dialog id="addEntryDialog" class="rounded-md w-full max-w-3xl bg-stone-100">
    <div class="p-4 relative">
        {{ template "close-dialog-btn" "dialog#addEntryDialog" }}
        <h1 class="text-center font-medium text-xl">
            Nova Entrada
        </h1>
        <form class="flex flex-col gap-4" {{ if .Entry.Id }} hx-put="/entry/{{ .Entry.Id }}"
            hx-target="#entry-{{ .Entry.Id }}" hx-swap="outerHTML" {{ else }} hx-post="/entry"
            hx-target="#entries-table-body" hx-swap="beforeend" {{ end }} hx-indicator="#btns-container">
            <fieldset class="flex flex-col gap-2 p-2 bg-white rounded-lg shadow">
                <legend class="text-lg uppercase rounded-t-lg bg-white px-2 font-light">
                    Identificação
                </legend>
                <div class="flex flex-col-reverse">
                    {{ template "grain-selector" }}
                    <label for="grain-selector" class="label-peer">
                        Grão
                    </label>
                </div>
                {{ template "crop-selector" .Crops }}
                {{ template "field-selector" .Fields }}
            </fieldset>
            <fieldset class="flex flex-col gap-2 p-2 bg-white rounded-lg shadow">
                <legend class="text-lg uppercase rounded-t-lg bg-white px-2 font-light">
                    Análise
                </legend>
                <div class="flex flex-col-reverse">
                    <input type="text" name="humidity" id="humidity" class="peer" value="{{ .Entry.Humidity }}" required>
                    <label for="humidity" class="label-peer">
                        Umidade
                    </label>
                </div>
            </fieldset>
            <fieldset class="flex flex-col gap-2 p-2 bg-white rounded-lg shadow">
                <legend class="text-lg uppercase rounded-t-lg bg-white px-2 font-light">
                    Recebimento
                </legend>
                {{ template "vehicle-selector" .Vehicles }}
                <div class="flex flex-col-reverse">
                    <input type="number" name="grossWeight" id="grossWeight" class="peer" value="{{ .Entry.GrossWeight }}" required>
                    <label for="grossWeight" class="label-peer">
                        Peso Bruto
                    </label>
                </div>
                <div class="flex flex-col-reverse">
                    <input type="number" name="tare" id="tare" class="peer" value="{{ .Entry.Tare }}" required>
                    <label for="tare" class="label-peer">
                        Tara
                    </label>
                </div>
                <div class="flex flex-col-reverse">
                    <input type="number" name="netWeight" id="netWeight" class="peer cursor-not-allowed" value="{{ .Entry.NetWeight }}" disabled>
                    <label for="netWeight" class="label-peer">
                        Peso Líquido (preenchimento automático)
                    </label>
                </div>
                <div class="flex flex-col-reverse">
                    <input type="datetime-local" name="arrivalDate" id="arrival-date" class="peer" value="{{ .Entry.ArrivalDate }}" required>
                    <label for="arrival-date" class="label-peer">
                        Data de Recebimento
                    </label>
                </div>
            </fieldset>
            <div class="flex items-center justify-around mt-2 w-52 mx-auto" id="btns-container">
                <button class="cancel-btn" type="button" onclick="closeEntryFormDialog()">Cancelar</button>
                <button class="add-btn" type="submit">
                    {{ if .Entry.Id }} Editar {{ else }} Adicionar {{ end }}
                </button>
                <img class="htmx-indicator" src="/public/assets/static/spinner.svg" alt="...">
            </div>
        </form>
    </div>

    <script type="module">
        const dialogEl = document.querySelector("#addEntryDialog")
        if (dialogEl) {
            dialogEl.showModal()
            const arrivalDateEl = dialogEl.querySelector("input#arrival-date")
            if (!!arrivalDateEl) {
                const existingDate = arrivalDateEl.getAttribute("value")
                if (existingDate) {
                    arrivalDateEl.setAttribute("value", existingDate)
                } else {
                    const nowDateTime = new Intl.DateTimeFormat('en-CA', { dateStyle: 'short', timeStyle: 'short', hour12: false }).format(new Date()).split(",")
                    const date = nowDateTime[0]
                    const time = nowDateTime[1].trim().split(" ")[0]
                    arrivalDateEl.setAttribute("value", `${date}T${time}`)
                }
            }

            function closeEntryFormDialog() {
                dialogEl.close()
                dialogEl.remove()
            }
            dialogEl.addEventListener('close', closeEntryFormDialog)
            window.closeEntryFormDialog = closeEntryFormDialog

            const grossWeightInput = dialogEl.querySelector('input#grossWeight')
            const tareInput = dialogEl.querySelector('input#tare')

            let grossWeightValue = Number(grossWeightInput ? grossWeightInput.value : 0)
            let tareValue = Number(tareInput ? tareInput.value : 0)

            const netWeightInput = dialogEl.querySelector('input#netWeight')
            if (netWeightInput) {
                grossWeightInput.addEventListener('input', (e) => {
                    grossWeightValue = Number(e.target.value) ?? 0

                    netWeightInput.value = grossWeightValue - tareValue
                })
                tareInput.addEventListener('input', (e) => {
                    tareValue = Number(e.target.value) ?? 0

                    netWeightInput.value = grossWeightValue - tareValue
                })
            }
        }
    </script>
    <style>
        .htmx-indicator {
            display: none;
        }

        .htmx-request button {
            display: none;
        }

        .htmx-request .htmx-indicator {
            display: block
        }
    </style>
</dialog>
{{ end }}
