{{ block "entry-content" . }}
        {{ template "entry-filters" .Filters }}
        <div class="w-full flex items-center justify-end py-1">
            <button id="form" type="button" class="add-btn flex items-center gap-1" hx-get="/entry/form" hx-target="body" hx-swap="beforeend">
                <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
                Nova Entrada
            </button>
        </div>
        <main id="list" class="overflow-x-auto">
            {{ template "entry-table" .Entries }}
        </main>
{{ end }}
