{{ block "entry-content" . }}
    {{ if .NoContent }}
        <div class="w-fit mx-auto text-center mt-[20vh]">
            <span class="block text-8xl h-[130px] w-[130px] mx-auto relative">
                &#128230;
                <span class="absolute -top-1 -right-4 text-6xl text-red-500 drop-shadow-lg">
                    &#128711;
                </span>
            </span>
            <strong class="text-orange-500 text-xl md:text-2xl">
                Nenhuma entrada encontrada :(
            </strong>
            <button id="form" type="button" class="add-btn flex items-center gap-1 mx-auto text-xl mt-2" hx-get="/entry/form" hx-target="body" hx-swap="beforeend">
                <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
                Começar agora
            </button>
        </div>
    {{ end }}
    <div class="{{ if .NoContent }} hidden {{ end }}">
        {{ template "entry-filters" .Filters }}
        <div class="w-full flex items-center justify-end py-1">
            <button id="form" type="button" class="add-btn flex items-center gap-1" hx-get="/entry/form" hx-target="body" hx-swap="beforeend">
                <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
                Nova Entrada
            </button>
        </div>
        <main id="list" class="overflow-x-auto">
            {{ template "entry-table" .Entries }}
        </main>
    </div>
{{ end }}
