
{{ define "filter-operation-type" }}
<fieldset class="filter-card">
    <legend class="w-full text-center">
        <label for="operation-filter" class="text-xs font-medium uppercase tracking-wider text-white/70">Operação</label>
    </legend>
    <select name="type" id="operation-filter" class="w-full text-sm peer bg-white/10 text-white border-white/20">
        <option value="" selected>
          Nenhuma
        </option>
        <option value="1">
          Entrada
        </option>
        <option value="2">
          Saída
        </option>
    </select>
</fieldset>
{{ end }}
