{{ block "filter-entry-field" . }}
<fieldset class="filter-card">
    <legend class="w-full text-center">
        <label for="field-filter" class="font-medium text-sm text-inherit">
            Talhão
        </label>
    </legend>
    <select name="field" id="field-filter" class="w-full text-sm peer">
        <option value="">
            Nenhum
        </option>
        {{ range . }}
        {{ template "field-option" . }}
        {{ else }}
        <option value="-1">
            Nenhum talhão encontrado
        </option>
        {{ end }}
    </select>
</fieldset>
{{ end }}
