{{ define "filter-entry-grain" }}
<fieldset class="filter-card">
    <legend class="w-full text-center">
        <label for="grain-filter" class="font-medium text-sm text-white/90">Produto</label>
    </legend>
    <select name="product" id="grain-filter" class="w-full text-sm peer bg-slate-800/80 text-white/90 border-white/20">
        <option value="" selected>
            Nenhum
        </option>
        <option value="1">
            Milho
        </option>
        <option value="2">
            Soja
        </option>
    </select>
</fieldset>
{{ end }}
