{{ block "field-selector" $ }}
<div class="flex flex-wrap w-full gap-2">
  <label for="field-selector" class="w-full peer-focus:text-white px-2 text-white/70 transition-all duration-300 ease-linear text-xs lg:text-sm font-medium uppercase tracking-wider">
    Talhão
  </label>
  <select name="field" id="field-selector" class="bg-white/10 border-white/20 text-white peer grow" required>
    {{ range $.Fields }}
            {{ if eq .Id $.SelectedField }}
                {{ template "selected-option" . }}
            {{ else }}
                {{ template "simple-option" . }}
            {{ end }}
    {{ else }}
    <option value="-1">
      Nenhum talhão encontrado
    </option>
    {{ end }}
  </select>
  <button class="icon-btn text-[24px] flex items-center" type="button" hx-get="/entry/field/form" hx-target="body" hx-swap="beforeend">
    <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
  </button>
</div>
{{ end }}
