{{ block "vehicle-selector" $ }}
<div class="flex flex-col w-full relative pr-[30px]">
  <label for="vehicle-selector" class="label-peer">
    Veículo
  </label>
  <select name="vehiclePlate" id="vehicle-selector" class="w-full glass-input" required>
    {{ range $.Vehicles }}
            {{ if eq .Id $.SelectedVehicle }}
    <option value="{{ .Id }}" selected>
      {{ .Plate }} | {{ .Name }}
    </option>
    {{ else }}
                {{ template "vehicle-option" . }}
    {{ end }}
        {{ else }}
    <option value="-1">
      Nenhum veículo encontrado
    </option>
    {{ end }}
  </select>
  <button class="absolute right-0 bottom-2 stroke-green-500 rounded-full text-transparent text-[24px] h-6 leading-6 focus:text-green-500 focus:stroke-white hover:text-green-500 hover:stroke-white transition-colors duration-300 ease-linear !outline-0" type="button" hx-get="/vehicle/form" hx-target="body" hx-swap="beforeend">
    <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
  </button>
</div>
{{ end }}
