{{ define "no-person" }}
<div class="w-fit mx-auto text-center my-[10vh]" id="no-person-helper">
  <span class="block text-8xl h-[130px] w-[130px] mx-auto relative">
    &#128230;
    <span class="absolute -top-1 -right-4 text-6xl text-red-500 drop-shadow-lg">
      &#128711;
    </span>
  </span>
  <strong class="text-white/90 text-xl md:text-2xl">
    Nenhuma pessoa encontrada :(
  </strong>
  <button id="form" type="button" class="primary-glass-btn flex items-center gap-1 mx-auto text-xl mt-2 cursor-pointer"
    hx-get="/person/form" hx-target="body" hx-swap="beforeend">
    <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
    Começar agora
  </button>
  <script nonce="{{ .CSPNonce }}" type="module">
    function handleAddFirstPerson(evt) {
      if ((evt.detail.requestConfig.path === '/person/legal' || evt.detail.requestConfig.path === '/person/natural') && evt.detail.requestConfig.verb === 'post' && evt.detail.xhr.status === 201) {
        const personContent = document.querySelector('#person-content');
        if (personContent) {
          personContent.classList.remove('hidden')

          const helper = document.querySelector('#no-person-helper');
          if (helper) {
            document.body.removeEventListener('htmx:afterRequest', handleAddFirstPerson);
            helper.remove()
          }
        }
      }
    }
    document.body.addEventListener('htmx:afterRequest', handleAddFirstPerson);
  </script>
</div>
{{ end }}
