{{ block "person-list-item" . }}
<tr class="text-center whitespace-nowrap text-sm sm:text-base" id="person-{{ .Id }}">
  <td data-label="Tipo">
    {{ if eq .Type 0 }}Pessoa Física{{ else }}Pessoa Jurídica{{ end }}
  </td>
  <td data-label="Nome">
    {{ .Name }}
  </td>
  <td data-label="Documentação">
    {{ .Document }}
  </td>
  <td data-label="Inscrição Estadual">
    {{ .IE }}
  </td>
  <script type="module">
    import {formatDocument} from "/public/assets/js/document.js"
    const itemRow = document.querySelector("#person-{{ .Id }}")
    if (itemRow) {
      itemRow.querySelector("[data-label='Documentação']").textContent = formatDocument({{ .Document}})
    }
  </script>
</tr>
{{ end }}
