{{ block "person-list-item" . }}
<tr class="text-sm sm:text-base border-b border-gray-200 hover:bg-gray-50" id="person-{{ .Id }}">
  <td class="py-3 px-4 text-left">
    {{ if eq .Type 0 }}Pessoa Física{{ else }}Pessoa Jurídica{{ end }}
  </td>
  <td class="py-3 px-4 text-left">
    {{ .Name }}
  </td>
  <td class="py-3 px-4 text-left">
    {{ .Document }}
  </td>
  <td class="py-3 px-4 text-left">
    {{ .IE }}
  </td>
  <td class="py-3 px-4 text-left">
    <button type="button" class="icon-btn" {{ if eq .Type 0 }}hx-get="/person/natural/form/{{ .Id }}"{{ else }}hx-get="/person/legal/form/{{ .Id }}"{{ end }} hx-target="body"
      hx-swap="beforeend" title="Editar Pessoa">
      <iconify-icon icon="mdi:pencil" class="text-xl"></iconify-icon>
    </button>
  </td>
  <script type="module">
    import {formatDocument} from "/public/assets/js/document.js"
    const itemRow = document.querySelector("#person-{{ .Id }}")
    if (itemRow) {
      const docEl = itemRow.querySelector("td:nth-child(3)")
      if (docEl) {
        docEl.textContent = formatDocument({{ .Document}})
      }
    }
  </script>
</tr>
{{ end }}
