{{ block "person-form" . }}
<dialog id="personFormDialog" class="rounded-xl w-full max-w-5xl glass-panel">
  <div class="p-4 relative">
    {{ template "close-dialog-btn" "dialog#personFormDialog" }}
    <header class="text-center mb-4">
      <h1 class="text-2xl font-bold text-white/95">
        {{ if or (and .Legal .Legal.Person.Id) (and .Natural .Natural.Person.Id) }}Editar Comprador{{ else }}Novo Comprador{{ end }}
      </h1>
      <p class="text-white/80 mt-2">
        {{ if or (and .Legal .Legal.Person.Id) (and .Natural .Natural.Person.Id) }}Atualize os dados do comprador.{{ else }}Selecione o tipo de pessoa e preencha os dados para cadastrar um novo comprador.{{ end }}
      </p>
    </header>
    {{ if and (eq .Legal nil) (eq .Natural nil) }}
      <div class="glass-panel rounded-2xl p-1 flex max-w-md mx-auto mb-4" id="type-toggler">
        <button type="button" id="pessoa-juridica-btn" class="flex-1 py-2 px-4 rounded-2xl flex items-center justify-center gap-2 bg-blue-500/70 text-white shadow-sm transition-colors duration-300" onclick="toggleForm()">
          <span class="font-semibold">Pessoa Jurídica</span>
        </button>
        <button type="button" id="pessoa-fisica-btn" class="flex-1 py-2 px-4 rounded-2xl flex items-center justify-center gap-2 text-white/70 hover:bg-sky-50/10 transition-colors duration-300" onclick="toggleForm()">
          <span class="font-semibold">Pessoa Física</span>
        </button>
      </div>
    {{ end }}
    <form id="pessoa-juridica-form" {{ with .Legal }}{{ if .Person.Id }}hx-put="/person/legal/{{ .Person.Id }}" hx-target="#person-{{ .Person.Id }}" hx-swap="outerHTML"{{ else }}hx-post="/person/legal" hx-target="#people-rows" hx-swap="beforeend"{{ end }}{{ else }}hx-post="/person/legal" hx-target="#people-rows" hx-swap="beforeend"{{ end }} class="gap-4 {{ if ne .Natural nil }} hidden {{ end }}">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <fieldset class="flex flex-col gap-2 p-4 glass-panel rounded-xl space-y-2" id="pessoa-juridica-fieldset">
          <legend class="text-base lg:text-lg font-semibold text-white/95 border-b border-white/20 pb-2 mb-2">
            Identificação
          </legend>
          <div class="flex flex-col-reverse">
            <input type="text" name="companyName" id="person-name-pj" class="peer bg-white/10 border-white/20 text-white placeholder-white/50" required {{ with .Legal }} value="{{ .CompanyName }}" {{ end }}>
            <label for="person-name-pj" class="peer-focus:text-white text-white/70 transition-all duration-300 ease-linear px-2 text-xs lg:text-sm font-medium uppercase tracking-wider">
              Razão Social
            </label>
          </div>
          <div class="flex flex-col-reverse">
            <input type="text" name="fantasyName" id="fantasy-name" class="peer bg-white/10 border-white/20 text-white placeholder-white/50" {{ with .Legal }} {{ with .FantasyName }}value="{{ . }}"{{ end }} {{ end }}>
            <label for="fantasy-name" class="peer-focus:text-white text-white/70 transition-all duration-300 ease-linear px-2 text-xs lg:text-sm font-medium uppercase tracking-wider">
              Nome Fantasia
              <i class="text-xs font-normal text-white/60 normal-case">(opcional) - Aparece como opção de pessoa</i>
            </label>
          </div>
          <div class="flex flex-col-reverse">
            <input type="text" name="cnpj" id="document-pj" class="peer bg-white/10 border-white/20 text-white placeholder-white/50" required maxlength="14" {{ with .Legal }} value="{{ .Cnpj }}" {{ end }}>
            <label for="document-pj" class="peer-focus:text-white text-white/70 transition-all duration-300 ease-linear px-2 text-xs lg:text-sm font-medium uppercase tracking-wider">
              CNPJ
            </label>
          </div>
          <div class="flex flex-col-reverse">
            <input type="text" name="inscricaoEstadual" id="ie-pj" class="peer bg-white/10 border-white/20 text-white placeholder-white/50" required {{ with .Legal }} value="{{ .Person.Ie }}" {{ end }}>
            <label for="ie-pj" class="peer-focus:text-white text-white/70 transition-all duration-300 ease-linear px-2 text-xs lg:text-sm font-medium uppercase tracking-wider">
              Inscrição Estadual
            </label>
          </div>
          <div class="flex flex-col w-full relative pr-[30px]">
            <label for="desconto-umidade-pj" class="peer-focus:text-white px-2 text-white/70 transition-all duration-300 ease-linear text-xs lg:text-sm font-medium uppercase tracking-wider">
              Progressão de Umidade
            </label>
            <select name="humidityProgressionId" id="desconto-umidade-pj" class="w-full bg-white/10 border-white/20 text-white peer">
              {{ range .Progressions }}
                {{ if $.Legal }}
                  {{ if and $.Legal.Person.HumidityProgressionId (eq .Id (deref $.Legal.Person.HumidityProgressionId)) }}
                    <option value="{{ .Id }}" selected>{{ .Name }}</option>
                  {{ else if and (eq $.Legal.Person.HumidityProgressionId nil) .IsSystemDefault }}
                    <option value="{{ .Id }}" selected>{{ .Name }}</option>
                  {{ else }}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                  {{ end }}
                {{ else }}
                  {{ if .IsSystemDefault }}
                    <option value="{{ .Id }}" selected>{{ .Name }}</option>
                  {{ else }}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                  {{ end }}
                {{ end }}
              {{ end }}
            </select>
            <button class="icon-btn absolute right-0 bottom-0 top-0 my-auto text-[24px]" type="button" hx-get="/progressao/form" hx-target="body" hx-swap="beforeend">
              <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
            </button>
          </div>
          <div class="flex flex-col-reverse">
            <input type="number" step="0.1" name="entrySoyDiscount" id="desconto-soja-pj" class="peer bg-white/10 border-white/20 text-white placeholder-white/50" required {{ with .Legal }} value="{{ .Person.EntrySoyDiscount }}" {{ end }} {{ if eq .Legal nil}} value="3.5" {{ end }}>
            <label for="desconto-soja-pj" class="peer-focus:text-white text-white/70 transition-all duration-300 ease-linear px-2 text-xs lg:text-sm font-medium uppercase tracking-wider">
              Taxa Entrada de Soja
            </label>
          </div>
          <div class="flex flex-col-reverse">
            <input type="number" step="0.1" name="entryCornDiscount" id="desconto-corn-pj" class="peer bg-white/10 border-white/20 text-white placeholder-white/50" required {{ with .Legal }} value="{{ .Person.EntryCornDiscount }}" {{ end }} {{ if eq .Legal nil}} value="5.5" {{ end }}>
            <label for="desconto-corn-pj" class="peer-focus:text-white text-white/70 transition-all duration-300 ease-linear px-2 text-xs lg:text-sm font-medium uppercase tracking-wider">
              Taxa Entrada de Milho
            </label>
          </div>
        </fieldset>
        {{ if ne .Legal nil }}
        {{ template "address-fields" .Legal.Address }}
        {{ else }}
        {{ template "address-fields" }}
        {{ end }}
      </div>
      <div class="flex items-center justify-around mt-4 w-52 mx-auto">
        <button type="button" class="cancel-btn" onclick="closePersonForm()">
          Cancelar
        </button>
        <button class="primary-glass-btn" type="submit">
          {{ with .Legal }}{{ if .Person.Id }}Salvar{{ else }}Adicionar{{ end }}{{ else }}Adicionar{{ end }}
        </button>
      </div>
    </form>
    <form id="pessoa-fisica-form" {{ with .Natural }}{{ if .Person.Id }}hx-put="/person/natural/{{ .Person.Id }}" hx-target="#person-{{ .Person.Id }}" hx-swap="outerHTML"{{ else }}hx-post="/person/natural" hx-target="#people-rows" hx-swap="beforeend"{{ end }}{{ else }}hx-post="/person/natural" hx-target="#people-rows" hx-swap="beforeend"{{ end }} class="gap-4 {{ if eq .Natural nil }} hidden {{ end }}">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <fieldset class="flex flex-col gap-2 p-4 glass-panel rounded-xl space-y-2" id="pessoa-fisica-fieldset">
          <legend class="text-base lg:text-lg font-semibold text-white/95 border-b border-white/20 pb-2 mb-2">
            Identificação
          </legend>
          <div class="flex flex-col-reverse">
            <input type="text" name="name" id="person-name-pf" class="peer bg-white/10 border-white/20 text-white placeholder-white/50" required {{ with .Natural }} value="{{ .Name }}" {{ end }}>
            <label for="person-name-pf" class="peer-focus:text-white text-white/70 transition-all duration-300 ease-linear px-2 text-xs lg:text-sm font-medium uppercase tracking-wider">
              Nome
            </label>
          </div>
          <div class="flex flex-col-reverse">
            <input type="text" name="cpf" id="document-pf" class="peer bg-white/10 border-white/20 text-white placeholder-white/50" required maxlength="11" {{ with .Natural }} value="{{ .Cpf }}" {{ end }}>
            <label for="document-pf" class="peer-focus:text-white text-white/70 transition-all duration-300 ease-linear px-2 text-xs lg:text-sm font-medium uppercase tracking-wider">
              CPF
            </label>
          </div>
          <div class="flex flex-col-reverse">
            <input type="text" name="inscricaoEstadual" id="ie-pf" class="peer bg-white/10 border-white/20 text-white placeholder-white/50" required {{ with .Natural }} value="{{ .Person.Ie }}" {{ end }}>
            <label for="ie-pf" class="peer-focus:text-white text-white/70 transition-all duration-300 ease-linear px-2 text-xs lg:text-sm font-medium uppercase tracking-wider">
              Inscrição Estadual
            </label>
          </div>
          <div class="flex flex-col w-full relative pr-[30px]">
            <label for="desconto-umidade-pf" class="peer-focus:text-white px-2 text-white/70 transition-all duration-300 ease-linear text-xs lg:text-sm font-medium uppercase tracking-wider">
              Progressão de Umidade
            </label>
            <select name="humidityProgressionId" id="desconto-umidade-pf" class="w-full bg-white/10 border-white/20 text-white peer">
              {{ range .Progressions }}
                {{ if $.Natural }}
                  {{ if and $.Natural.Person.HumidityProgressionId (eq .Id (deref $.Natural.Person.HumidityProgressionId)) }}
                    <option value="{{ .Id }}" selected>{{ .Name }}</option>
                  {{ else if and (eq $.Natural.Person.HumidityProgressionId nil) .IsSystemDefault }}
                    <option value="{{ .Id }}" selected>{{ .Name }}</option>
                  {{ else }}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                  {{ end }}
                {{ else }}
                  {{ if .IsSystemDefault }}
                    <option value="{{ .Id }}" selected>{{ .Name }}</option>
                  {{ else }}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                  {{ end }}
                {{ end }}
              {{ end }}
            </select>
            <button class="icon-btn absolute right-0 bottom-2 text-[24px]" type="button" hx-get="/progressao/form" hx-target="body" hx-swap="beforeend">
              <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
            </button>
          </div>
          <div class="flex flex-col-reverse">
            <input type="number" step="0.1" name="entrySoyDiscount" id="desconto-soja-pf" class="peer bg-white/10 border-white/20 text-white placeholder-white/50" required {{ with .Natural }} value="{{ .Person.EntrySoyDiscount }}" {{ end }} {{ if eq .Natural nil}} value="3.5" {{ end }}>
            <label for="desconto-soja-pf" class="peer-focus:text-white text-white/70 transition-all duration-300 ease-linear px-2 text-xs lg:text-sm font-medium uppercase tracking-wider">
              Taxa Entrada de Soja
            </label>
          </div>
          <div class="flex flex-col-reverse">
            <input type="number" step="0.1" name="entryCornDiscount" id="desconto-corn-pf" class="peer bg-white/10 border-white/20 text-white placeholder-white/50" required {{ with .Natural }} value="{{ .Person.EntryCornDiscount }}" {{ end }} {{ if eq .Natural nil}} value="5.5" {{ end }}>
            <label for="desconto-corn-pf" class="peer-focus:text-white text-white/70 transition-all duration-300 ease-linear px-2 text-xs lg:text-sm font-medium uppercase tracking-wider">
              Taxa Entrada de Milho
            </label>
          </div>
        </fieldset>
        {{ if ne .Natural nil }}
        {{ template "address-fields" .Natural.Address }}
        {{ else }}
        {{ template "address-fields" }}
        {{ end }}
      </div>
      <div class="flex items-center justify-around mt-4 w-52 mx-auto">
        <button type="button" class="cancel-btn" onclick="closePersonForm()">
          Cancelar
        </button>
        <button class="primary-glass-btn" type="submit">
          {{ with .Natural }}{{ if .Person.Id }}Salvar{{ else }}Adicionar{{ end }}{{ else }}Adicionar{{ end }}
        </button>
      </div>
    </form>
  </div>
  <script type="module">
    import {removeEmptyFields} from "/public/assets/js/form.js"
    import {setupCepListener} from "/public/assets/js/address.js";

    setupCepListener('pessoa-juridica-form', 'cep-input', 'street-input', 'neighborhood-input', 'city-input', 'state-input');
    setupCepListener('pessoa-fisica-form', 'cep-input', 'street-input', 'neighborhood-input', 'city-input', 'state-input');

    const dialogEl = document.querySelector("dialog#personFormDialog")
    if (dialogEl) {
      dialogEl.showModal()

      function closePersonForm() {
        dialogEl.close()
        dialogEl.remove()
        window.closePersonForm = undefined
      }
      dialogEl.addEventListener('close', closePersonForm)
      window.closePersonForm = closePersonForm

      document.body.addEventListener('htmx:configRequest', function (evt) {
        evt.detail.parameters = removeEmptyFields(evt.detail.parameters);
      });
    }

    {{ if and (eq .Legal nil) (eq .Natural nil) }}
      const pessoaJuridicaBtn = document.querySelector('button#pessoa-juridica-btn')
      const pessoaFisicaBtn = document.querySelector('button#pessoa-fisica-btn')
      const pessoaJuridicaForm = document.querySelector('form#pessoa-juridica-form')
      const pessoaFisicaForm = document.querySelector('form#pessoa-fisica-form')
      function toggleForm() {
          pessoaFisicaForm.classList.toggle('hidden')
          pessoaJuridicaForm.classList.toggle('hidden')

          pessoaJuridicaBtn.classList.toggle('bg-blue-500/70')
          pessoaJuridicaBtn.classList.toggle('text-white')
          pessoaJuridicaBtn.classList.toggle('shadow-sm')
          pessoaJuridicaBtn.classList.toggle('text-white/70')
          pessoaJuridicaBtn.classList.toggle('hover:bg-sky-50/10')

          pessoaFisicaBtn.classList.toggle('bg-blue-500/70')
          pessoaFisicaBtn.classList.toggle('text-white')
          pessoaFisicaBtn.classList.toggle('shadow-sm')
          pessoaFisicaBtn.classList.toggle('text-white/70')
          pessoaFisicaBtn.classList.toggle('hover:bg-sky-50/10')
        }

      window.toggleForm = toggleForm
    {{ end }}
  </script>
</dialog>
{{ end }}
