{{ block "addEntryDialog" . }}
<dialog id="addEntryDialog" class="rounded-md w-4/5">

    <div class="p-4">
        <div class="relative h-4 w-full">
            <button type="button" class="absolute top-0 right-0" onclick="closeModal()">
                &#10006;
            </button>
        </div>
        <form class="flex flex-col" {{if .Waybill}} hx-put="/grao/{{ .Waybill }}" hx-target="#entry-{{ .Waybill }}"
            hx-swap="outerHTML" {{else}} hx-post="/grao" hx-target="#entries-table-body" hx-swap="beforeend" {{end}}>
            <label for="grain-selector" class="px-2">
                Grão
            </label>
            {{ template "grainSelector" }}
            <label for="field" class="px-2 mt-1">
                Talhão
            </label>
            <input type="text" name="field" id="field" class="px-2" value="{{ .Field }}" required>
            <label for="harvest" class="px-2 mt-1">
                Safra
            </label>
            <input type="text" name="harvest" id="harvest" value="{{ .Harvest }}" class="px-2" required>
            <label for="vehiclePlate" class="px-2 mt-1">
                Placa do Veículo
            </label>
            <input type="text" name="vehiclePlate" id="vehiclePlate" value="{{ .VehiclePlate }}" class="px-2" required>
            <label for="vehicle" class="px-2 mt-1">
                Veículo (opcional)
            </label>
            <input type="text" name="vehicle" id="vehicle" class="px-2" value="{{ .Vehicle }}">
            <label for="grossWeight" class="px-2 mt-1">
                Peso Bruto
            </label>
            <input type="number" name="grossWeight" id="grossWeight" class="px-2" value="{{ .GrossWeight }}" required>
            <label for="tare" class="px-2 mt-1">
                Tara
            </label>
            <input type="number" name="tare" id="tare" class="px-2" value="{{ .Tare }}" required>
            <label for="netWeight" class="px-2 mt-1">
                Peso Líquido
            </label>
            <input type="number" name="netWeight" id="netWeight" class="px-2" value="{{ .NetWeight }}" disabled>
            <label for="humidity" class="px-2 mt-1">
                Umidade
            </label>
            <input type="text" name="humidity" id="humidity" class="px-2" value="{{ .Humidity }}" required>
            <label for="arrivalDate" class="px-2 mt-1">
                Data de Recebimento
            </label>
            <input type="date" name="arrivalDate" id="arrivalDate" class="px-2" value="{{ .ArrivalDate }}" required>
            <div class="flex items-center justify-around mt-2 w-52 mx-auto">
                <button class="cancel-btn" type="button" onclick="closeModal()">Cancelar</button>
                <button class="add-btn" type="submit">{{if .Waybill}} Editar {{else}} Adicionar {{end}}</button>
            </div>
        </form>
    </div>

    <script type="module">
        const dialogEl = document.querySelector("#addEntryDialog")
        if (dialogEl) {
            dialogEl.showModal()
            const arrivalDateEl = dialogEl.querySelector("input#arrivalDate")
            if (!!arrivalDateEl) {
                const longDate = arrivalDateEl.getAttribute("value")
                if (longDate) {
                    arrivalDateEl.setAttribute("value", new Date(Number(longDate)).toLocaleDateString('en-CA'))
                }
            }
            function configReqListener(evt) {
                const now = new Date()
                const ad = evt.detail.parameters.get("arrivalDate")
                if (!!ad) {
                    const unixDate = new Date(ad).setHours(24 + now.getHours(), now.getMinutes())
                    evt.detail.parameters.set("arrivalDate", unixDate)
                }
            }

            document.body.addEventListener('htmx:configRequest', configReqListener);

            function closeModal() {
                dialogEl.close()
                dialogEl.remove()
                document.body.removeEventListener('htmx:configRequest', configReqListener)
            }
            dialogEl.addEventListener('close', closeModal)
            window.closeModal = closeModal

            const grossWeightInput = dialogEl.querySelector('input#grossWeight')
            const tareInput = dialogEl.querySelector('input#tare')

            let grossWeightValue = Number(grossWeightInput ? grossWeightInput.value : 0)
            let tareValue = Number(tareInput ? tareInput.value : 0)

            const netWeightInput = dialogEl.querySelector('input#netWeight')
            if (netWeightInput) {
                grossWeightInput.addEventListener('input', (e) => {
                    grossWeightValue = Number(e.target.value) ?? 0

                    netWeightInput.value = grossWeightValue - tareValue
                })
                tareInput.addEventListener('input', (e) => {
                    tareValue = Number(e.target.value) ?? 0

                    netWeightInput.value = grossWeightValue - tareValue
                })
            }
        }
    </script>
</dialog>
{{ end }}
