{{ block "fieldForm" . }}
<dialog id="fieldFormDialog" class="rounded-md w-72 sm:w-96">
    <form hx-post="/entry/field" hx-target="#field-selector" hx-swap="beforeend">
        <input type="text" name="name" id="field-name" required pattern="{{ . }}">
        <button>
            add talhão
        </button>
    </form>
</dialog>
<script type="module">
    const dialogEl = document.querySelector("dialog#fieldFormDialog")
    if (dialogEl) {
        dialogEl.showModal()
    }
</script>
{{ end }}
