{{ block "buyer-filter" . }}
<div class="w-full sm:max-w-28 lg:max-w-36 flex flex-col-reverse">
    <select name="buyer" id="buyer-filter" class="w-full text-sm peer">
        <option value="" selected>
            Nenhum
        </option>
        {{ range . }}
        {{ template "buyer-option" . }}
        {{ else }}
        <option value="-1">
            Nenhum comprador encontrado
        </option>
        {{ end }}
    </select>
    <label for="buyer-filter" class="px-2 text-xs label-peer">
        Comprador
    </label>
</div>
{{ end }}
