{{ block "person-filter" . }}
<fieldset class="filter-card">
    <legend class="w-full text-center">
        <label for="person-filter" class="font-medium text-sm text-white/90">
            Destino
        </label>
    </legend>
    <select name="person" id="person-filter" class="w-full text-sm peer bg-slate-800/80 text-white/90 border-white/20">
        <option value="" selected>
            Nenhum
        </option>
        {{ range . }}
        <option value="{{ if ne .Id nil }}{{ .Id }}{{ else }}NULL{{ end }}">
            {{ .Name }}
        </option>
        {{ else }}
        <option value="-1">
            Nenhum comprador encontrado
        </option>
        {{ end }}
    </select>
</fieldset>
{{ end }}
