{{ block "buyer-selector" . }}
<div class="flex items-center gap-2 w-full">
    <select name="buyer" id="buyer-selector" class="w-full">
        {{ range . }}
        {{ template "buyer-option" . }}
        {{ else }}
        <option value="-1">
            Nenhum comprador encontrado
        </option>
        {{ end }}
    </select>
    <button
        class="stroke-green-500 rounded-full text-transparent text-[24px] h-6 leading-6 focus:text-green-500 focus:stroke-white hover:text-green-500 hover:stroke-white transition-colors duration-300 ease-linear !outline-0"
        type="button" hx-trigger="click" hx-get="/buyer/form" hx-target="body">
        <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
    </button>
</div>
{{ end }}
