{{ block "departure-content" . }}
{{ template "departure-filters" .Filters }}
<div class="{{ if .NoContent }} hidden {{ end }}" id="departure-content">
    <div class="flex flex-wrap justify-between items-center mb-4">
        <div class="flex items-center gap-4 w-full justify-end">
            <button id="form" type="button" class="add-btn flex items-center gap-1" hx-get="/departure/form" hx-target="body"
                hx-swap="beforeend">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m5 11h-4v4h-2v-4H7v-2h4V7h2v4h4z"/></svg>
                Nova Saída
            </button>
        </div>
    </div>
    <main id="list" class="bg-white rounded-lg shadow overflow-hidden">
        {{ template "departure-table" . }}
    </main>
</div>
<div class="mt-8">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl lg:text-2xl font-bold text-slate-700 text-center">Rascunhos</h2>
        <button id="form" type="button"
            class="btn-shape text-slate-500 hover:text-white hover:bg-slate-500 focus:text-white focus:bg-slate-500 ring ring-inset ring-slate-500 transition-colors duration-300 ease-in-out flex items-center gap-1"
            hx-get="/departure/draft/form" hx-target="body" hx-swap="beforeend">
            <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
            Novo Rascunho
        </button>
    </div>
    <main id="draft-list" class="bg-white rounded-lg shadow overflow-hidden">
        {{ template "departure-draft-table" .Drafts }}
    </main>
</div>
{{ if .NoContent }}
<div class="bg-white shadow-md rounded-lg p-4">
    {{ template "no-departure" }}
</div>
{{ end }}
{{ end }}
