{{ block "departure-draft-table" . }}
<table class="responsive-table">
    <thead class="border-b border-white/10 text-xs text-white/60 uppercase tracking-wider *:font-medium whitespace-nowrap hidden md:table-header-group">
        <tr>
            <th class="py-3 px-4 text-left">Nome</th>
            <th class="py-3 px-4 text-left">Origem</th>
            <th class="py-3 px-4 text-left">Safra</th>
            <th class="py-3 px-4 text-left">Placa</th>
            <th class="py-3 px-4 text-left">Tara</th>
            <th class="py-3 px-4 text-left">Ações</th>
        </tr>
    </thead>
    <tbody id="departures-draft-table-body" class="text-white/80">
        {{ range . }}
        {{ template "departure-draft-list-item" . }}
        {{ end }}
    </tbody>
</table>
{{ end }}
