{{ block "departure-list-item" . }}
<tr class="text-center whitespace-nowrap text-sm sm:text-base" id="departure-{{ .Id }}">
  <td>
    {{ .Id }}
  </td>
  <td>
    {{ .Product }}
  </td>
  <td>
    {{ .VehiclePlate }}
  </td>
  <td>
    {{ .NetWeight }}
  </td>
  <td id="departureDate">
    {{ .DepartureDate }}
  </td>
  <td>
    <div class="flex items-center justify-center gap-2 text-green-500">
      <button type="button" id="{{ .Id }}" onclick="getDeparturePdf(this)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
            <path stroke-width="1.5" d="M7.792 21.25h8.416a3.5 3.5 0 0 0 3.5-3.5v-5.53a3.5 3.5 0 0 0-1.024-2.475l-5.969-5.97A3.5 3.5 0 0 0 10.24 2.75H7.792a3.5 3.5 0 0 0-3.5 3.5v11.5a3.5 3.5 0 0 0 3.5 3.5"/>
            <path stroke-width="1.5" d="M11.688 3.11v5.66a2 2 0 0 0 2 2h5.662"/>
            <path d="M7.25 16.5v-1m0 0v-2h1a1 1 0 0 1 1 1v0a1 1 0 0 1-1 1zm4 1v-3h.5a1.5 1.5 0 0 1 0 3zm4 0v-1.25m1.5-1.75h-1.5v1.75m0 0h1.5"/>
          </g>
        </svg>
      </button>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <button type="button" hx-get="/departure/form/{{ .Id }}" hx-target="body" hx-swap="beforeend">
        <iconify-icon icon="la:pen"></iconify-icon>
      </button>
      <button type="button" hx-trigger="confirmed" hx-delete="/departure/{{ .Id }}" hx-target="#departure-{{ .Id }}" hx-swap="delete" onClick="Swal.fire({title: 'Excluir', text: 'Deseja excluir o romaneio de saída {{ .Id }} ?', showCancelButton: true, cancelButtonText: 'Cancelar', cancelButtonColor: '#ff7200', reverseButtons: true, confirmButtonText: 'Excluir', confirmButtonColor: '#22c55e'}).then((result)=>{
                    if (result.isConfirmed) {
                        htmx.trigger(this, 'confirmed');  
                    } 
                })">
        <iconify-icon icon="la:trash-alt-solid"></iconify-icon>
      </button>
    </div>
  </td>
  <script type="module">
    import {formatDateToDisplay} from "/public/assets/js/date.js"
    const itemRow = document.querySelector("tr#departure-{{ .Id }}")
    if (itemRow) {
      itemRow.querySelector("td#departureDate").textContent = formatDateToDisplay({{ .DepartureDate}})
        }
  </script>
</tr>
{{ end }}
