{{ block "departure-table" . }}
<table class="w-full">
    <thead class="text-xs sm:text-base whitespace-nowrap bg-gray-300/50">
        <tr>
            <th class="py-2">
                ROMANEIO
            </th>
            <th class="py-2">
                PRODUTO
            </th>
            <th class="py-2">
                PLACA
            </th>
            <th class="py-2">
                PESO
            </th>
            <th class="py-2">
                DATA DE SAÍDA
            </th>
            <th class="py-2">
                AÇÕES
            </th>
        </tr>
    </thead>
    <tbody id="departure-table-body">
        {{ range . }}
        {{ template "departure-list-item" . }}
        {{ end }}
    </tbody>
</table>
<div class="w-full flex items-center justify-end">
    <button id="form" type="button" class="add-btn flex items-center" hx-get="/departure/form" hx-target="body"
        hx-swap="beforeend">
        <iconify-icon icon="ic:baseline-add-circle" class="mr-1"></iconify-icon>
        Nova Saída
    </button>
</div>
{{ end }}
