{{ block "person-selector" $ }}
<select name="origin" id="person-selector" class="w-full peer">
  {{ if eq $.SelectedPerson 0 }}
  <option value="">
    Própria
  </option>
  {{ end }}
  {{ range $.People }}
  <option value="{{ .Id }}" data-humidity="{{ .HumidityDiscount }}" {{ if eq .Id $.SelectedPerson }}selected{{ end }}>
    {{ .Name }}
  </option>
  {{ else }}
  <option value="-1">
    Nenhuma pessoa encontrada
  </option>
  {{ end }}
  <script type="module">
    import {applyDiscounts} from "/public/assets/js/discount.js"

    function setPersonConfig(el) {
      const selectedOption = el.options[el.selectedIndex];
      const humidityDiscount = selectedOption.getAttribute('data-humidity');
      const personId = selectedOption.value;
      const personName = selectedOption.textContent.trim();

      sessionStorage.setItem('personConfig', JSON.stringify({
        humidityDiscount: humidityDiscount
      }));

      applyDiscounts();
    }
    const selector = document.getElementById('person-selector');
    if (selector) {
      selector.addEventListener('change', function (evt) {
        setPersonConfig(evt.target);
      });
    }
  </script>
</select>
{{ end }}
