{{ define "navbar" }}
<nav class="fixed top-0 left-0 w-screen h-10 bg-green-400 text-center leading-10">
        <div class="ml-auto flex items-center gap-2 w-fit h-full px-2">
            {{ template "user-icon" }}
            <h5 id="username" class="text-white">...</h5>
        </div>
    <script type="module">
        const username = document.cookie.slice(document.cookie.indexOf('username=') + 9)
        const usernameEl = document.querySelector('nav h5')
        if (usernameEl && username) {
            usernameEl.textContent = username
        }
    </script>
</nav>
{{ end }}
