{{ block "user-success-modal" . }}
<div class="flex flex-col items-center justify-center py-8 gap-4">
  <div class="rounded-full bg-green-100 p-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" viewBox="0 0 16 16" class="text-green-500">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
  </div>
  <header class="text-center">
    <h1 class="text-2xl font-bold text-slate-700">
      {{ .Title }}
    </h1>
    <p class="text-gray-600 mt-2">
      {{ .Body }}
    </p>
  </header>
  <div class="mt-4">
    <button type="button" onclick="closeUserForm()" class="add-btn">
      Ir para Login
    </button>
  </div>
</div>
{{ end }}
