{{ define "user-list" }}
<div class="glass-panel rounded-xl p-4 mt-8">
    <h2 class="text-xl font-bold text-white mb-4">Usuários da Fazenda</h2>
    {{ if .users }}
    <div class="overflow-x-auto">
        <table class="responsive-table">
            <thead class="border-b border-white/10 text-xs text-gray-400 uppercase tracking-wider *:font-medium">
                <tr>
                    <th class="py-3 px-4 text-left">Nome</th>
                    <th class="py-3 px-4 text-left">Email</th>
                    <th class="py-3 px-4 text-left">CPF</th>
                    <th class="py-3 px-4 text-left">Função</th>
                    {{ if .isAdmin }}
                    <th class="py-3 px-4 text-left">Ações</th>
                    {{ end }}
                </tr>
            </thead>
            <tbody class="text-white/80">
                {{ range .users }}
                {{ template "user-list-item" (dict "user" . "isAdmin" $.isAdmin) }}
                {{ end }}
            </tbody>
        </table>
    </div>
    {{ else }}
    <p class="text-center text-white/70 py-4">Nenhum usuário encontrado.</p>
    {{ end }}
</div>
{{ end }}
