{{ block "crop-selector" $ }}
<div class="flex flex-wrap w-full gap-2">
  <label for="crop-selector" class="w-full peer-focus:text-white px-2 text-white/70 transition-all duration-300 ease-linear text-xs lg:text-sm font-medium uppercase tracking-wider">
    Safra
  </label>
  <select name="crop" id="crop-selector" class="bg-white/10 border-white/20 text-white peer grow" required>
    {{ range $.Crops }}
            {{ if eq .Id $.SelectedCrop }}
                <option value="{{ .Id }}" selected data-product-id="{{ .Product }}">
                  {{ .Name }}
                </option>
            {{ else }}
                <option value="{{ if ne .Id nil }}{{ .Id }}{{ end }}" data-product-id="{{ .Product }}">
                  {{ .Name }}
                </option>
            {{ end }}
         {{ else }}
    <option value="-1">
      Nenhuma safra encontrada
    </option>
    {{ end }}
  </select>
  <button class="icon-btn text-[24px] flex items-center" type="button" hx-get="/crop/form" hx-target="body" hx-swap="beforeend">
    <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
  </button>
</div>
{{ end }}
