{{ block "crop-selector" $ }}
<div class="flex flex-col w-full relative pr-[30px]">
  <label for="crop-selector" class="label-peer">
    Safra
  </label>
  <select name="crop" id="crop-selector" class="w-full glass-input" required>
    {{ range $.Crops }}
            {{ if eq .Id $.SelectedCrop }}
                <option value="{{ .Id }}" selected data-product-id="{{ .Product }}">
                  {{ .Name }}
                </option>
            {{ else }}
                <option value="{{ if ne .Id nil }}{{ .Id }}{{ end }}" data-product-id="{{ .Product }}">
                  {{ .Name }}
                </option>
            {{ end }}
         {{ else }}
    <option value="-1">
      Nenhuma safra encontrada
    </option>
    {{ end }}
  </select>
  <button class="absolute right-0 bottom-2 stroke-green-500 rounded-full text-transparent text-[24px] h-6 leading-6 focus:text-green-500 hover:text-green-500 transition-colors duration-300 ease-linear !outline-0" type="button" hx-get="/crop/form" hx-target="body" hx-swap="beforeend">
    <iconify-icon icon="ic:baseline-add-circle"></iconify-icon>
  </button>
</div>
{{ end }}
