{{ block "crop-selector" $ }}
<div class="flex flex-wrap w-full gap-2">
  <label for="crop-selector" class="w-full peer-focus:text-white px-2 text-white/70 transition-all duration-300 ease-linear text-xs lg:text-sm font-medium uppercase tracking-wider">
    Safra
  </label>
  <select name="crop" id="crop-selector" class="bg-white/10 border-white/20 text-white peer grow" required>
    {{ range $.Crops }}
            {{ if eq .Id $.SelectedCrop }}
                <option value="{{ .Id }}" selected data-product-id="{{ .Product }}">
                  {{ .Name }}
                </option>
            {{ else }}
                <option value="{{ if ne .Id nil }}{{ .Id }}{{ end }}" data-product-id="{{ .Product }}">
                  {{ .Name }}
                </option>
            {{ end }}
         {{ else }}
    <option value="-1">
      Nenhuma safra encontrada
    </option>
    {{ end }}
  </select>
  <button class="icon-btn text-[24px] flex items-center" type="button" hx-get="/crop/form" hx-target="body" hx-swap="beforeend">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m5 11h-4v4h-2v-4H7v-2h4V7h2v4h4z"/></svg>
  </button>
</div>
{{ end }}
