{{ block "address-fields" . }}
<fieldset class="flex flex-col gap-2 p-2 bg-white rounded-lg shadow group" name="address">
  <legend class="fieldset-legend">
    Endereço e Contato
  </legend>
  <div class="flex flex-col-reverse">
    <input type="number" name="cep" id="cep-input" class="peer group-[.cep-data-loading]:ring-stone-400 group-[.cep-data-loading]:text-stone-300 group-[.cep-data-loading]:animate-pulse" required>
    <label for="cep-input" class="label-peer">CEP</label>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
    <div class="flex flex-col-reverse">
      <input type="text" name="state" id="state-input" class="peer group-[.cep-data-loading]:ring-stone-400 group-[.cep-data-loading]:text-stone-300 group-[.cep-data-loading]:animate-pulse" required maxlength="2" minlength="2">
      <label for="state-input" class="label-peer">
        Estado
        <i>Unidade Federativa</i>
      </label>
    </div>
    <div class="flex flex-col-reverse">
      <input type="text" name="city" id="city-input" class="peer group-[.cep-data-loading]:ring-stone-400 group-[.cep-data-loading]:text-stone-300 group-[.cep-data-loading]:animate-pulse" required>
      <label for="city-input" class="label-peer">Cidade</label>
    </div>
  </div>
  <div class="flex flex-col-reverse">
    <input type="text" name="neighborhood" id="neighborhood-input" class="peer group-[.cep-data-loading]:ring-stone-400 group-[.cep-data-loading]:text-stone-300 group-[.cep-data-loading]:animate-pulse" required>
    <label for="neighborhood-input" class="label-peer">Bairro</label>
  </div>
  <div class="flex flex-col-reverse">
    <input type="text" name="street" id="street-input" class="peer group-[.cep-data-loading]:ring-stone-400 group-[.cep-data-loading]:text-stone-300 group-[.cep-data-loading]:animate-pulse" required>
    <label for="street-input" class="label-peer">Rua</label>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
    <div class="flex flex-col-reverse">
      <input type="number" name="number" id="number-input" class="peer">
      <label for="number-input" class="label-peer">Número (opcional)</label>
    </div>
    <div class="flex flex-col-reverse">
      <input type="text" name="complement" id="complement-input" class="peer">
      <label for="complement-input" class="label-peer">Complemento (opcional)</label>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
    <div class="flex flex-col-reverse">
      <input type="text" name="email" id="email-input" class="peer">
      <label for="email-input" class="label-peer">E-mail (opcional)</label>
    </div>
    <div class="flex flex-col-reverse">
      <input type="number" name="phoneNumber" id="phoneNumber-input" class="peer">
      <label for="phoneNumber-input" class="label-peer">Celular (opcional)</label>
    </div>
  </div>
</fieldset>
{{ end }}
